@{
    ViewData["Title"] = "Home Page";
}
@model List<Document>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<ul>
    @foreach (var document in Model)
    {
        <li><a asp-controller="Home" asp-action="EditView" asp-route-FileId="@document.FileId">@document.FileName</a></li>
    }
</ul>
